@import "mixins.scss";
#ContentMainPage_NavigationButton1 {	@include elemTop(180);
}
#ContentMainPage_NavigationButton1 {	@include elemLeft(310);
}
#ContentMainPage_NavigationButton1 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton1 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton1 {	z-index: 0;
}
#ContentMainPage_NavigationButton1 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton1 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton1 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton1 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton3 {	@include elemTop(180);
}
#ContentMainPage_NavigationButton3 {	@include elemLeft(490);
}
#ContentMainPage_NavigationButton3 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton3 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton3 {	z-index: 1;
}
#ContentMainPage_NavigationButton3 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton3 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton3 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton3 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton6 {	@include elemTop(180);
}
#ContentMainPage_NavigationButton6 {	@include elemLeft(670);
}
#ContentMainPage_NavigationButton6 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton6 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton6 {	z-index: 2;
}
#ContentMainPage_NavigationButton6 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton6 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton6 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton6 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton7 {	@include elemTop(350);
}
#ContentMainPage_NavigationButton7 {	@include elemLeft(670);
}
#ContentMainPage_NavigationButton7 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton7 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton7 {	z-index: 3;
}
#ContentMainPage_NavigationButton7 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton7 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton7 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton7 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton8 {	@include elemTop(180);
}
#ContentMainPage_NavigationButton8 {	@include elemLeft(850);
}
#ContentMainPage_NavigationButton8 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton8 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton8 {	z-index: 4;
}
#ContentMainPage_NavigationButton8 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton8 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton8 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton8 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton9 {	@include elemTop(350);
}
#ContentMainPage_NavigationButton9 {	@include elemLeft(850);
}
#ContentMainPage_NavigationButton9 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton9 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton9 {	z-index: 5;
}
#ContentMainPage_NavigationButton9 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton9 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton9 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton9 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton10 {	@include elemTop(350);
}
#ContentMainPage_NavigationButton10 {	@include elemLeft(490);
}
#ContentMainPage_NavigationButton10 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton10 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton10 {	z-index: 6;
}
#ContentMainPage_NavigationButton10 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton10 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton10 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton10 {	svg {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton11 {	@include elemTop(350);
}
#ContentMainPage_NavigationButton11 {	@include elemLeft(310);
}
#ContentMainPage_NavigationButton11 {	@include elemAutoWidth(140);
}
#ContentMainPage_NavigationButton11 {	@include elemAutoHeight(140);
}
#ContentMainPage_NavigationButton11 {	z-index: 7;
}
#ContentMainPage_NavigationButton11 {	img {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton11 {	svg {
		@include imageHeight(70);
	}
}
#ContentMainPage_NavigationButton11 {	img {
		@include imageWidth(70);
	}
}
#ContentMainPage_NavigationButton11 {	svg {
		@include imageWidth(70);
	}
}
